<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
      <meta charset="UTF-8"/>
      <title>Chika API</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/ChikaApi.css}"/>
  </head>
  <body>
  <div class="sidenav">
      <p class="dropdown">Authentication</p>
      <div class="dropdown-container">
          <a href="#sign_in">POST /auth/signin</a>
          <a href="#sign_up">POST /auth/signup</a>
      </div>

      <p class="dropdown">User</p>
      <div class="dropdown-container">
          <a href="#get_users">GET /user</a>
          <a href="#get_user_username">GET /user/{username}</a>
          <a href="#get_user_info">GET /user/info</a>
          <a href="#put_admin_info">PUT /user/admin_info</a>
          <a href="#put_user_info">PUT /user/user_info</a>
          <a href="#put_user_password">PUT /user</a>
          <a href="#put_user_email">PUT /user/email/{email}</a>
          <a href="#delete_user_username">DELETE /user/{username}</a>
      </div>

      <p class="dropdown">Product</p>
      <div class="dropdown-container">
          <a href="#get_products_user">GET /product</a>
          <a href="#put_products">PUT /product</a>
      </div>

      <p class="dropdown">Switch Wifi</p>
      <div class="dropdown-container">
          <a href="#get_wifi_switches">GET /switch_wifi</a>
          <a href="#get_wifi_switch">GET /switch_wifi/{switch-id}</a>
          <a href="#post_wifi_switch">POST /switch_wifi/num_of_button/{num-of-button}</a>
          <a href="#put_wifi_switch_name">PUT /switch_wifi/name</a>
          <a href="#put_wifi_switch_user">PUT /switch_wifi/user</a>
          <a href="#delete_wifi_switch">DELETE /switch_wifi/{switch-id}</a>
      </div>

      <p class="dropdown">Switch Rf</p>
      <div class="dropdown-container">
          <a href="#get_rf_switches">GET /switch_rf</a>
          <a href="#get_rf_switch">GET /switch_rf/{switch-id}</a>
          <a href="#post_rf_switch">POST /switch_rf/num_of_button/{num-of-button}/channel/{channel}</a>
          <a href="#put_rf_switch_name">PUT /switch_rf/name</a>
          <a href="#put_rf_switch_channel">PUT /switch_rf/channel</a>
          <a href="#put_rf_switch_user">PUT /switch_rf/user</a>
          <a href="#delete_rf_switch">DELETE /switch_rf/{switch-id}</a>
      </div>

      <p class="dropdown">Module IR</p>
      <div class="dropdown-container">
          <a href="#get_modules">GET /module_ir</a>
          <a href="#get_module">GET /module_ir/{module-id}</a>
          <a href="#post_module">POST /module_ir</a>
          <a href="#put_module_name">PUT /module_ir/name</a>
          <a href="#put_module_user">PUT /module_ir/user</a>
          <a href="#delete_module">DELETE /module_ir/{module-id}</a>
      </div>

      <p class="dropdown">Home Center</p>
      <div class="dropdown-container">
          <a href="#get_home_centers">GET /home_center</a>
          <a href="#get_home_center">GET /home_center/{home-center-id}</a>
          <a href="#post_home_center">POST /home_center</a>
          <a href="#put_home_center_name">PUT /home_center/name</a>
          <a href="#put_home_center_user">PUT /home_center/user</a>
          <a href="#delete_home_center">DELETE /home_center/{home-center-id}</a>
      </div>

      <p class="dropdown">Sensor</p>
      <div class="dropdown-container">
          <a href="#get_sensors">GET /sensor</a>
          <a href="#get_sensor">GET /sensor/{sensor-id}</a>
          <a href="#post_sensor">POST /sensor?name={name}</a>
          <a href="#put_sensor_user">PUT /sensor/user</a>
          <a href="#delete_sensor">DELETE /sensor/{sensor-id}</a>
      </div>

      <p class="dropdown">Room</p>
      <div class="dropdown-container">
          <a href="#get_rooms">GET /room</a>
          <a href="#post_room">POST /room</a>
          <a href="#put_room">PUT /room</a>
          <a href="#delete_room">DELETE /room/{room-id}</a>
      </div>

      <p class="dropdown">Device</p>
      <div class="dropdown-container">
          <a href="#get_devices_room">GET /device/room_id/{room-id}</a>
          <a href="#get_device">GET /device/{device-id}</a>
          <a href="#post_device">POST /device</a>
          <a href="#put_device">PUT /device</a>
          <a href="#delete_device">DELETE /device/{device-id}</a>
      </div>
  </div>

  <div class="main">
      <h1>HTTP API Reference</h1>

      <!-- Authenticate -->
      <div id="sign_in" class="content">
          <h2>Sign In</h2>
          <p class="link">POST &emsp; http://chika-server.herokuapp.com/auth/signin</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/auth/signin</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"phoneOrEmail": "0734249685",
              <br/>&emsp;"password": "chika"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"tokenType: "Bearer",
              <br/>&emsp;"accessToken": "eyJhbGciOiJIUzI1NiIsIn.eyJzdWIiOiIxMjM0NTY3ODkwI9arwcFtZ0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4Qssw5c"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="sign_up" class="content">
          <h2>Sign Up</h2>
          <p class="link">POST &emsp; http://chika-server.herokuapp.com/auth/signup</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/auth/signup</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"name": "Chika Smarthome",
              <br/>&emsp;"username": "chika123",
              <br/>&emsp;"email": "chika@gmail.com",
              <br/>&emsp;"password": "123456",
              <br/>&emsp;"products": [
              <br/>&emsp;&emsp;{
              <br/>&emsp;&emsp;&emsp;"name": "Switch Wifi",
              <br/>&emsp;&emsp;&emsp;"ids": [
              <br/>&emsp;&emsp;&emsp;&emsp;"b36e333e-3800-4450-84cd-6f90e7e0f721"
              <br/>&emsp;&emsp;&emsp;]
              <br/>&emsp;&emsp;},<br/>&emsp;&emsp;{
              <br/>&emsp;&emsp;&emsp;"name": "Module Ir",
              <br/>&emsp;&emsp;&emsp;"ids": [
              <br/>&emsp;&emsp;&emsp;&emsp;"661e998a-3516-47c7-b961-ab0e5a33313b"
              <br/>&emsp;&emsp;&emsp;]
              <br/>&emsp;&emsp;}<br/>&emsp;]
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Register successfully"
              <br/>}
          </div>
          <br/>
      </div>

      <!-- Product -->
      <div id="get_products_user" class="content">
          <h2>Get all products by user's id</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/product</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/product</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">[
              <br/>&emsp;{
              <br/>&emsp;&emsp;"name": "Switch Wifi",
              <br/>&emsp;&emsp;"ids": [
              <br/>&emsp;&emsp;&emsp;"b36e333e-3800-4450-84cd-6f90e7e0f721"
              <br/>&emsp;&emsp;]
              <br/>&emsp;},<br/>&emsp;{
              <br/>&emsp;&emsp;"name": "Module Ir",
              <br/>&emsp;&emsp;"ids": [
              <br/>&emsp;&emsp;&emsp;"661e998a-3516-47c7-b961-ab0e5a33313b"
              <br/>&emsp;&emsp;]
              <br/>&emsp;}<br/>]
          </div>
          <br/>
      </div>

      <div id="put_products" class="content">
          <h2>Update user's id of products by user's phone number</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/product</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/product</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"userPhone": "0701234567",
              <br/>&emsp;"products": [
              <br/>&emsp;&emsp;{
              <br/>&emsp;&emsp;&emsp;"name": "Switch Wifi",
              <br/>&emsp;&emsp;&emsp;"ids": [
              <br/>&emsp;&emsp;&emsp;&emsp;"b36e333e-3800-4450-84cd-6f90e7e0f721"
              <br/>&emsp;&emsp;&emsp;]
              <br/>&emsp;&emsp;},<br/>&emsp;&emsp;{
              <br/>&emsp;&emsp;&emsp;"name": "Module Ir",
              <br/>&emsp;&emsp;&emsp;"ids": [
              <br/>&emsp;&emsp;&emsp;&emsp;"661e998a-3516-47c7-b961-ab0e5a33313b"
              <br/>&emsp;&emsp;&emsp;]
              <br/>&emsp;&emsp;}<br/>&emsp;]
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Product has been updated with user's id"
              <br/>}
          </div>
          <br/>
      </div>

      <!-- User -->
      <div id="get_users" class="content">
          <h2>Get all users (admin only)</h2>
          <p class="description">Get a user list with their information.</p>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/user/all</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/user/all</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">[
              <br/>&emsp;{
              <br/>&emsp;&emsp;"avatar": "http://chika-server.herokuapp.com/image/ac962f09-911c-48ac-b4d8-6b483bc46d8c",
              <br/>&emsp;&emsp;"name": "Chika Smarthome",
              <br/>&emsp;&emsp;"username": "chika123",
              <br/>&emsp;&emsp;"birthday": "12/12/1912",
              <br/>&emsp;&emsp;"address": "123 Đường Thành Thái",
              <br/>&emsp;&emsp;"email": "chika@gmail.com",
              <br/>&emsp;&emsp;""phone": "0701234567",
              <br/>&emsp;&emsp;"role": "HOME_MASTER"
              <br/>&emsp;},<br/>&emsp;{
              <br/>&emsp;&emsp;"avatar": "http://chika-server.herokuapp.com/image/ty962f09-922c-36ac-b4d8-6b483bc71d8c",
              <br/>&emsp;&emsp;"name": "Chika User",
              <br/>&emsp;&emsp;"username": "user123",
              <br/>&emsp;&emsp;"birthday": "01/01/1990",
              <br/>&emsp;&emsp;"address": "123 Đường Lê Duẩn",
              <br/>&emsp;&emsp;"email": "user@gmail.com",
              <br/>&emsp;&emsp;""phone": "0701234567",
              <br/>&emsp;&emsp;"role": "HOME_USER"
              <br/>&emsp;}<br/>]
          </div>
          <br/>
      </div>

      <div id="get_user_username" class="content">
          <h2>Get user by username</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/user</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/user</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"name": "Chika Smarthome",
              <br/>&emsp;"username": "chika123",
              <br/>&emsp;"email": "chika@gmail.com",
              <br/>&emsp;"createAt": "20:00 27/09/2019",
              <br/>&emsp;"role": "ROLE_ADMIN"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="get_user_info" class="content">
          <h2>Get user's information</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/user/info</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/user/info</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response: (Admin)</p>
          <div class="json">{
              <br/>&emsp;"avatar": "http://chika-server.herokuapp.com/image/8d78efc5-cqdc-51a4-a4b3-323edfg941c6",
              <br/>&emsp;"name": "Chika Smarthome",
              <br/>&emsp;"username": "chika123",
              <br/>&emsp;"birthday": "18/09/1998",
              <br/>&emsp;"address": "606 3 tháng 2",
              <br/>&emsp;"email": "chika@gmail.com",
              <br/>&emsp;"phone": "0701234567",
              <br/>&emsp;"employeeId": "FUL0001",
              <br/>&emsp;"function": "Lập trình viên Full-Stack",
              <br/>&emsp;"department": "Thiết kế phần mềm"
              <br/>}
          </div>
          <p class="example">&bull; Example response: (User)</p>
          <div class="json">{
              <br/>&emsp;"createAt": "20:00 27/09/2019",
              <br/>&emsp;"avatar": "http://chika-server.herokuapp.com/image/6e48323b-bbc8-4f0a-b45e-58765035cdb6",
              <br/>&emsp;"name": "Nguyễn Văn A",
              <br/>&emsp;"birthday": "01/01/1998",
              <br/>&emsp;"address": "227 Nguyễn Văn Cừ, Quận 5, TPHCM",
              <br/>&emsp;"phone": "0903456789",
              <br/>&emsp;"email": "chika456@gmail.com",
              <br/>&emsp;"role": "HOME_MASTER"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_admin_info" class="content">
          <h2>Update admin's information</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/user/admin_info</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/user/admin_info</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:
          <div class="json">{
              <br/>&emsp;"phone": "0903456789",
              <br/>&emsp;"email": "chika456@gmail.com"
              <br/>&emsp;"birthday": "01/01/1998",
              <br/>&emsp;"address": "227 Nguyễn Văn Cừ, Quận 5, TPHCM"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"avatar": "http://chika-server.herokuapp.com/image/6e48323b-bbc8-4f0a-b45e-58765035cdb6",
              <br/>&emsp;"name": "Nguyễn Văn A",
              <br/>&emsp;"birthday": "01/01/1998",
              <br/>&emsp;"address": "227 Nguyễn Văn Cừ, Quận 5, TPHCM",
              <br/>&emsp;"phone": "0903456789",
              <br/>&emsp;"email": "chika456@gmail.com",
              <br/>&emsp;"employeeId": "IOT0001",
              <br/>&emsp;"function": "Lập trình viên IOT",
              <br/>&emsp;"department": "Thiết kế phần cứng"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_user_info" class="content">
          <h2>Update user's information</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/user/user_info</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/user/user_info</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:
          <div class="json">{
              <br/>&emsp;"phone": "0903456789",
              <br/>&emsp;"email": "chika456@gmail.com"
              <br/>&emsp;"birthday": "01/01/1998",
              <br/>&emsp;"address": "227 Nguyễn Văn Cừ, Quận 5, TPHCM"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createAt": "20:00 27/09/2019",
              <br/>&emsp;"avatar": "http://chika-server.herokuapp.com/image/6e48323b-bbc8-4f0a-b45e-58765035cdb6",
              <br/>&emsp;"name": "Nguyễn Văn A",
              <br/>&emsp;"birthday": "01/01/1998",
              <br/>&emsp;"address": "227 Nguyễn Văn Cừ, Quận 5, TPHCM",
              <br/>&emsp;"phone": "0903456789",
              <br/>&emsp;"email": "chika456@gmail.com",
              <br/>&emsp;"role": "HOME_MASTER"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_user_password" class="content">
          <h2>Update user's password</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/user/password</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/user/password</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:
          <div class="json">{
              <br/>&emsp;"oldPassword": "chika1234",
              <br/>&emsp;"newPassword": "chika6789"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Password has been changed"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_user_email" class="content">
          <h2>Send mail to reset password</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/user/email/{email}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/user/email/chika123@gmail.com</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Email has sent"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="delete_user_username" class="content">
          <h2>Delete user by username (admin only)</h2>
          <p class="link">DELETE &emsp; http://chika-server.herokuapp.com/user/{username}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">DELETE&emsp;http://chika-server.herokuapp.com/user/chika123</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "User has been deleted"
              <br/>}
          </div>
          <br/>
      </div>

      <!-- Switch Wifi -->
      <div id="get_wifi_switches" class="content">
          <h2>Get all switches (admin only)</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/switch_wifi</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/switch_wifi</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">[
              <br/>&emsp;{
              <br/>&emsp;&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;&emsp;"day": "07/01/2020",
              <br/>&emsp;&emsp;"type": 2,
              <br/>&emsp;&emsp;"userId": 5
              <br/>&emsp;}<br/>]
          </div>
          <br/>
      </div>

      <div id="get_wifi_switch" class="content">
          <h2>Get switch by id</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/switch_wifi/{switch-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/switch_wifi/b36e333e-3800-4450-84cd-6f90e7e0f721</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"day": "04/03/2020",
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"type": 2
              <br/>}
          </div>
          <br/>
      </div>

      <div id="post_wifi_switch" class="content">
          <h2>Save a switch</h2>
          <p class="link">POST &emsp; http://chika-server.herokuapp.com/switch_wifi/num_of_button/{num-of-button}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/switch_wifi/num_of_button/2</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"day": "04/03/2020",
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"type": 2
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_wifi_switch_name" class="content">
          <h2>Update switch's name by id</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/switch_wifi/name</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/switch_wifi/name</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"name": "Living Room Switch"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "15:30 07/01/2020",
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"name": "Living Room Switch",
              <br/>&emsp;"userId": null
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_wifi_switch_user" class="content">
          <h2>Update switch's owner by id</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/switch_wifi/name</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/switch_wifi/name</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "15:30 07/01/2020",
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"name": "CA-SW2",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="delete_wifi_switch" class="content">
          <h2>Delete wifi switch by id (admin only)</h2>
          <p class="link">DELETE &emsp; http://chika-server.herokuapp.com/switch_wifi/{switch-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">DELETE&emsp;http://chika-server.herokuapp.com/switch_wifi/b36e333e-3800-4450-84cd-6f90e7e0f721</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Switch Wifi has been deleted"
              <br/>}
          </div>
          <br/>
      </div>

      <!-- Switch Rf -->
      <div id="get_rf_switches" class="content">
          <h2>Get all switches (admin only)</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/switch_rf</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/switch_rf</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">[
              <br/>&emsp;{
              <br/>&emsp;&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;&emsp;"day": "07/01/2020",
              <br/>&emsp;&emsp;"type": 2,
              <br/>&emsp;&emsp;"channel": 83878217022001,
              <br/>&emsp;&emsp;"userId": 5
              <br/>&emsp;}<br/>]
          </div>
          <br/>
      </div>

      <div id="get_rf_switch" class="content">
          <h2>Get switch by id</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/switch_rf/{switch-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/switch_rf/b36e333e-3800-4450-84cd-6f90e7e0f721</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"name": "CA-SW2"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="post_rf_switch" class="content">
          <h2>Save a switch</h2>
          <p class="link">POST &emsp; http://chika-server.herokuapp.com/switch_rf/num_of_button/{num-of-button}/channel/{channel}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/switch_rf/num_of_button/2/channel/83878217022001</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"day": "07/01/2020",
              <br/>&emsp;"type": 2,
              <br/>&emsp;"channel": 83878217022001,
              <br/>&emsp;"userId": null
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_rf_switch_name" class="content">
          <h2>Update switch's name by id</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/switch_rf/name</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/switch_rf/name</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"name": "Living Room Switch"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "15:30 07/01/2020",
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"name": "Living Room Switch",
              <br/>&emsp;"userId": null
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_rf_switch_channel" class="content">
          <h2>Update switch's name by id</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/switch_rf/name</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/switch_rf/name</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"channel": 83878217022001
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "15:30 07/01/2020",
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"channel": 83878217022001,
              <br/>&emsp;"userId": null
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_rf_switch_user" class="content">
          <h2>Update switch's owner by id</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/switch_rf/name</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/switch_rf/name</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "15:30 07/01/2020",
              <br/>&emsp;"id": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"name": "CA-SWR2",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="delete_rf_switch" class="content">
          <h2>Delete rf switch by id (admin only)</h2>
          <p class="link">DELETE &emsp; http://chika-server.herokuapp.com/switch_rf/{switch-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">DELETE&emsp;http://chika-server.herokuapp.com/switch_rf/b36e333e-3800-4450-84cd-6f90e7e0f721</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Switch Rf has been deleted"
              <br/>}
          </div>
          <br/>
      </div>

      <!-- Module IR -->
      <div id="get_modules" class="content">
          <h2>Get all module IR (admin only)</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/module_ir</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/module_ir</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">[
              <br/>&emsp;{
              <br/>&emsp;&emsp;"day": "07/01/2020",
              <br/>&emsp;&emsp;"id": "335833a5-9cc8-4eb7-b6dd-468ff54d3129",
              <br/>&emsp;&emsp;"userId": 5
              <br/>&emsp;},<br/>&emsp;{
              <br/>&emsp;&emsp;"day": "14:30 08/01/2020",
              <br/>&emsp;&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;&emsp;"userId": null
              <br/>&emsp;}
              <br/>]
          </div>
          <br/>
      </div>

      <div id="get_module" class="content">
          <h2>Get module IR by id</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/module_ir/{module-ir-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/module_ir/661e998a-3516-47c7-b961-ab0e5a33313b</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "14:30 08/01/2020",
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "CA-IRX",
              <br/>&emsp;"userId": null
              <br/>}
          </div>
          <br/>
      </div>

      <div id="post_module" class="content">
          <h2>Save a module IR</h2>
          <p class="link">POST &emsp; http://chika-server.herokuapp.com/module_ir</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/module_ir</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"day": "08/01/2020",
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"userId": null
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_module_name" class="content">
          <h2>Update module IR's name by id</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/module_ir/name</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/module_ir/name</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "Living Room Module"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "14:30 08/01/2020",
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "Living Room Module",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_module_user" class="content">
          <h2>Update module IR's owner by id (admin only)</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/module_ir/user</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/module_ir/user</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "14:30 08/01/2020",
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "Living Room Module",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="delete_module" class="content">
          <h2>Delete module IR by id (admin only)</h2>
          <p class="link">DELETE &emsp; http://chika-server.herokuapp.com/module_ir/{module-ir-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">DELETE&emsp;http://chika-server.herokuapp.com/module_ir/661e998a-3516-47c7-b961-ab0e5a33313b</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Module has been deleted"
              <br/>}
          </div>
          <br/>
      </div>

      <!-- Home Center -->
      <div id="get_home_centers" class="content">
          <h2>Get all home centers (admin only)</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/home_center</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/home_center</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">[
              <br/>&emsp;{
              <br/>&emsp;&emsp;"day": "07/01/2020",
              <br/>&emsp;&emsp;"id": "4bc68c26-bb1c-4f28-8c5d-bd5305530da1",
              <br/>&emsp;&emsp;"userId": 5
              <br/>&emsp;},<br/>&emsp;{
              <br/>&emsp;&emsp;"day": "08/01/2020",
              <br/>&emsp;&emsp;"id": "1f1180c6-079d-4b62-92c6-6f81351d67d9",
              <br/>&emsp;&emsp;"userId": null
              <br/>&emsp;}
              <br/>]
          </div>
          <br/>
      </div>

      <div id="get_home_center" class="content">
          <h2>Get home center by id</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/home_center/{home-center-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/home_center/4bc68c26-bb1c-4f28-8c5d-bd5305530da1</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "4bc68c26-bb1c-4f28-8c5d-bd5305530da1",
              <br/>&emsp;"name": "CA-HC",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="post_home_center" class="content">
          <h2>Save a home center</h2>
          <p class="link">POST &emsp; http://chika-server.herokuapp.com/home_center</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/home_center</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"day": "08/01/2020",
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"userId": null
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_home_center_name" class="content">
          <h2>Update home center's name by id</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/home_center/name</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/home_center/name</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "Andy's Home"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "14:30 08/01/2020",
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "Andy's Home",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_home_center_user" class="content">
          <h2>Update home center's owner by id (admin only)</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/home_center/user</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/home_center/user</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"createdAt": "14:30 08/01/2020",
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "CA-HC",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="delete_home_center" class="content">
          <h2>Delete home center by id (admin only)</h2>
          <p class="link">DELETE &emsp; http://chika-server.herokuapp.com/home_center/{home-center-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">DELETE&emsp;http://chika-server.herokuapp.com/home_center/661e998a-3516-47c7-b961-ab0e5a33313b</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Home Center has been deleted"
              <br/>}
          </div>
          <br/>
      </div>

      <!-- Sensor -->
      <div id="get_sensors" class="content">
          <h2>Get all sensors (admin only)</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/sensor</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/sensor</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">[
              <br/>&emsp;{
              <br/>&emsp;&emsp;"day": "07/01/2020",
              <br/>&emsp;&emsp;"id": "4bc68c26-bb1c-4f28-8c5d-bd5305530da1",
              <br/>&emsp;&emsp;"name": "Cảm biến nhiệt độ",
              <br/>&emsp;&emsp;"userId": 5
              <br/>&emsp;},<br/>&emsp;{
              <br/>&emsp;&emsp;"day": "08/01/2020",
              <br/>&emsp;&emsp;"id": "1f1180c6-079d-4b62-92c6-6f81351d67d9",
              <br/>&emsp;&emsp;"name": "Cảm biến ánh sáng",
              <br/>&emsp;&emsp;"userId": null
              <br/>&emsp;}
              <br/>]
          </div>
          <br/>
      </div>

      <div id="get_sensor" class="content">
          <h2>Get sensor by id</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/sensor/{sensor-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/sensor/4bc68c26-bb1c-4f28-8c5d-bd5305530da1</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "4bc68c26-bb1c-4f28-8c5d-bd5305530da1",
              <br/>&emsp;"name": "Cảm biến ánh sáng",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="post_sensor" class="content"
      >
          <h2>Save a sensor</h2>
          <p class="link">POST &emsp; http://chika-server.herokuapp.com/sensor</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/sensor</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"name": "Cảm biến không khí",
              <br/>&emsp;"rfChannel": "1002502019006"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"day": "08/01/2020",
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "Cảm biến không khí",
              <br/>&emsp;"rfChannel": "1002502019006"
              <br/>&emsp;"userId": null
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_sensor_name" class="content">
          <h2>Update sensor's name by id</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/sensor/name</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/sensor/name</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "Cảm biến phòng khách"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "Cảm biến phòng khách",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_sensor_user" class="content">
          <h2>Update sensor's owner by id (admin only)</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/sensor/user</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/sensor/user</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "661e998a-3516-47c7-b961-ab0e5a33313b",
              <br/>&emsp;"name": "Cảm biến phòng khách",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="delete_sensor" class="content">
          <h2>Delete sensor by id (admin only)</h2>
          <p class="link">DELETE &emsp; http://chika-server.herokuapp.com/sensor/{sensor-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">DELETE&emsp;http://chika-server.herokuapp.com/sensor/661e998a-3516-47c7-b961-ab0e5a33313b</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Sensor has been deleted"
              <br/>}
          </div>
          <br/>
      </div>

      <!-- Room -->
      <div id="get_rooms" class="content">
          <h2>Get all rooms by user's id</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/room</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/room</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">[
              <br/>&emsp;{
              <br/>&emsp;&emsp;"id": "17e5432c-93be-4194-a76e-6e43717d2aa3",
              <br/>&emsp;&emsp;"logo": 1,
              <br/>&emsp;&emsp;"name": "Living Room",
              <br/>&emsp;&emsp;"userId": 5
              <br/>&emsp;},<br/>&emsp;{
              <br/>&emsp;&emsp;"id": "54174664-d42b-4013-aa9f-125e90ae06a5",
              <br/>&emsp;&emsp;"logo": 3,
              <br/>&emsp;&emsp;"name": "Bed Room",
              <br/>&emsp;&emsp;"userId": 5
              <br/>&emsp;}
              <br/>]
          </div>
          <br/>
      </div>

      <div id="post_room" class="content">
          <h2>Save a room</h2>
          <p class="link">POST &emsp; http://chika-server.herokuapp.com/room</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/room</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:
          <div class="json">{
              <br/>&emsp;"logo": 2,
              <br/>&emsp;"name": "Kitchen"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "54174664-d42b-4013-aa9f-125e90ae06a5",
              <br/>&emsp;"logo": 2,
              <br/>&emsp;"name": "Kitchen",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_room" class="content">
          <h2>Update room's information</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/room</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/room</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:
          <div class="json">{
              <br/>&emsp;"id": "54174664-d42b-4013-aa9f-125e90ae06a5",
              <br/>&emsp;"logo": 5,
              <br/>&emsp;"name": "Garage"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "54174664-d42b-4013-aa9f-125e90ae06a5",
              <br/>&emsp;"logo": 5,
              <br/>&emsp;"name": "Garage",
              <br/>&emsp;"userId": 5
              <br/>}
          </div>
          <br/>
      </div>

      <div id="delete_room" class="content">
          <h2>Delete room by id</h2>
          <p class="link">DELETE &emsp; http://chika-server.herokuapp.com/room/{room-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">DELETE&emsp;http://chika-server.herokuapp.com/room/54174664-d42b-4013-aa9f-125e90ae06a5</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Room has been deleted"
              <br/>}
          </div>
          <br/>
      </div>

      <!-- Device -->
      <div id="get_devices_room" class="content">
          <h2>Get all devices by room's id</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/device/room_id/{room-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/device/room_id/b36e333e-3800-4450-84cd-6f90e7e0f721</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">[
              <br/>&emsp;{
              <br/>&emsp;&emsp;"id": "0c38a97d-1564-4707-935c-18b4e9bcb0db",
              <br/>&emsp;&emsp;"name": "Đèn chùm",
              <br/>&emsp;&emsp;"logo": "light 1",
              <br/>&emsp;&emsp;"roomId": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;&emsp;"buttonId": "5f129896-8362-4728-980e-af1c9dcc9a87"
              <br/>&emsp;},<br/>&emsp;{
              <br/>&emsp;&emsp;"id": "7f704fdf-fa4b-44e2-b359-5ef19294196a",
              <br/>&emsp;&emsp;"name": "Đèn trần",
              <br/>&emsp;&emsp;"logo": "light 2",
              <br/>&emsp;&emsp;"roomId": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;&emsp;"buttonId": "ef336285-efab-4856-b2c5-278e07ea62c0"
              <br/>&emsp;}
              <br/>]
          </div>
          <br/>
      </div>

      <div id="get_device" class="content">
          <h2>Get device by id</h2>
          <p class="link">GET &emsp; http://chika-server.herokuapp.com/device/{device-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">GET&emsp;http://chika-server.herokuapp.com/device/0c38a97d-1564-4707-935c-18b4e9bcb0db</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "0c38a97d-1564-4707-935c-18b4e9bcb0db",
              <br/>&emsp;"name": "Đèn chùm",
              <br/>&emsp;&emsp;"logo": "light 1",
              <br/>&emsp;"roomId": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"buttonId": "5f129896-8362-4728-980e-af1c9dcc9a87"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="post_device" class="content">
          <h2>Save device</h2>
          <p class="link">POST &emsp; http://chika-server.herokuapp.com/device</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">POST&emsp;http://chika-server.herokuapp.com/device</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="body">Body:
          <div class="json">{
              <br/>&emsp;"name": "Đèn chùm",
              <br/>&emsp;"logo": "light 1",
              <br/>&emsp;"roomId": "b36e333e-3800-4450-84cd-6f90e7e0f721"
              <br/>&emsp;"buttonId": "5f129896-8362-4728-980e-af1c9dcc9a87"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "0c38a97d-1564-4707-935c-18b4e9bcb0db",
              <br/>&emsp;"name": "Đèn chùm",
              <br/>&emsp;"logo": "light 1",
              <br/>&emsp;"roomId": "b36e333e-3800-4450-84cd-6f90e7e0f721"
              <br/>&emsp;"buttonId": "5f129896-8362-4728-980e-af1c9dcc9a87"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="put_device" class="content">
          <h2>Update device information by id</h2>
          <p class="link">PUT &emsp; http://chika-server.herokuapp.com/device</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">PUT&emsp;http://chika-server.herokuapp.com/device</p>
          <p class="body">Body:</p>
          <div class="json">{
              <br/>&emsp;"id": "0c38a97d-1564-4707-935c-18b4e9bcb0db",
              <br/>&emsp;"name": "Đèn phòng khác",
              <br/>&emsp;"logo": "light 1"
              <br/>}
          </div>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"id": "0c38a97d-1564-4707-935c-18b4e9bcb0db",
              <br/>&emsp;"name": "Đèn phòng khách",
              <br/>&emsp;"logo": "light 1",
              <br/>&emsp;"roomId": "b36e333e-3800-4450-84cd-6f90e7e0f721",
              <br/>&emsp;"buttonId": "5f129896-8362-4728-980e-af1c9dcc9a87"
              <br/>}
          </div>
          <br/>
      </div>

      <div id="delete_device" class="content">
          <h2>Delete device by id</h2>
          <p class="link">DELETE &emsp; http://chika-server.herokuapp.com/device/{device-id}</p>
          <p class="example">&bull; Example request:</p>
          <p class="link-example">DELETE&emsp;http://chika-server.herokuapp.com/device/0c38a97d-1564-4707-935c-18b4e9bcb0db</p>
          <p class="header">Header: "Authorization": "Bearer {token}"</p>
          <p class="example">&bull; Example response:</p>
          <div class="json">{
              <br/>&emsp;"success: true,
              <br/>&emsp;"message": "Device has been deleted"
              <br/>}
          </div>
          <br/>
      </div>
  </div>

  <script type="text/javascript" th:src="@{/js/ChikaApi.js}"></script>
  </body>
</html>
